body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: bisque;
}

h1{
    display: flex;
    justify-content: center;
}

.calculatorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: black;
    height: fit-content;
    align-self: center;
}

.display{
    display: flex;
    justify-content: end;
    height: 50px;
    width: 200px;
    font-size: 50px;
    color: aliceblue;
}

.digitOperators{
    display: flex;
    height: 250px;
}

.digits{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 150px;
}

.operators{
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 50px;
}

.digits button{
    background-color: darkgray;
}

.operators button{
    background-color: orange;
}

button{
    height: 50px;
    width: 50px;
    border-color: black;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}